<%= form_with(model: application) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :job_id %>
  <div class="field">
    <%= form.label :first_name %><br/>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :last_name %><br/>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :born_on %><br/>
    <%= form.text_field :born_on, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :email %><br/>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :phone %><br/>
    <%= form.text_field :phone, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :address %><br/>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :education %><br/>
    <%= form.text_field :education, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create application", class: "form-control btn btn-primary" %>
  </div><br><br>
<% end %>