<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br/>
    <%= form.text_field :title, class: "form-control" %>
  </div><br>

  <div class="field">
    <%= form.label :description %><br/>
    <%= form.text_area :description, class: "form-control" %>
  </div><br>

  <div class="field">
    <%= form.label :employer %><br/>
    <%= form.text_field :employer, class: "form-control" %>
  </div><br>

  <div class="field">
    <%= form.label :email %><br/>
    <%= form.text_field :email, class: "form-control" %>
  </div><br>

  <div class="field">
    <%= form.label :category %><br/>
    <%= form.text_field :category, class: "form-control" %>
  </div><br>

  <div class="actions">
    <%= form.submit "Create job", class: "form-control btn btn-primary" %>
  </div><br>
<% end %>
