<p id="notice"><%= notice %></p>

<h1>Jobs</h1>
<div class="col-lg-12  jobs">
<% if user_signed_in?%>
<%= link_to 'Create New Job', new_job_path,class: "btn btn-secondary btn-block", id: "New Job", disabled: "false", autocomplete: "false" %>
<% end %>
</div>
<div class="row ">
  <% @jobs.each do |job| %>
    <div class="col-lg-4">
      <div class="card" style="height: 95%;">
        <div class="card-header"><%= job.category %>
        </div>
          <div class="card-body">
            <h5 class="card-title"><%= job.title %></h5>
            <h6 class="card-text"><%= job.employer %></h6>
            <p class="card-text"><%= job.description.first(100) %></p>
            <%= link_to 'Show', job,class: "btn btn-primary", id: "Show"%>
            <p class="btn btn-danger <%=job.expiered_application?%>">EXPIERED</p>
          </div>
            <div class="card-footer text-muted">
              <%= job.job_days >= 0 ?  "#{job.job_days} days till expiration" :  ""%>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
